<launch>
    <node pkg="task_controller"
          type="node_controller.py"
          name="node_controller"
          output="screen"
          required="true"
    >
        <!-- Add debug level -->
        <param name="debug" value="true"/>
        <!-- Redirect both stdout and stderr -->
        <remap from="stdout" to="/rosout"/>
        <remap from="stderr" to="/rosout"/>
    </node>
</launch>